/* Reset and base styles  */
* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

a, a:link, a:visited  {
    text-decoration: none;
}

a:hover  {
    text-decoration: none;
}

aside, nav, footer, header, section, main {
	display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
	font-weight: inherit;
}

ul, ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img, svg {
	max-width: 100%;
	height: auto;
}

address {
  font-style: normal;
}

input, textarea, button, select {
	font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}

* {
    border-radius: 4px;
}

.block {
    padding: 5px;
    width: 500px;
    height: auto;
    margin: 0 auto;
    background: #151515;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-align: center;
}
.subblock {
    margin: 10px;
    padding: 10px;
    background: #494949;
    
}
.section-main {
    display: flex;
    justify-content: space-between;
}
[class^="section__"] {
    background: #848383;
    padding: 10px;
    margin-bottom: 5px;
}
.section__article {
    padding: 25px 55px;
}
.nav,.aside {
    width: 30%;
}